<div class="fullcontainer">
 
    <div class="alert alert-danger" *ngIf='this.isError'>Please complete all required fields</div>
    <div class="alert alert-danger" *ngIf='this.isServerError'>Something went wrong. Please try again later.</div>
    <div class="alert alert-success" *ngIf='this.isSuccess'>Price List was updated successfully</div>
    <div class='sheet'>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-lg-9 my-auto">
                  <h3 class='header'>Edit Price List - {{ this.priceList.name }}</h3>
                </div>
                <div class="col-lg-3 my-auto"></div>
              </div>
            </div>
            <div class="card-body">
              <app-audit-line [data]='this.priceList'></app-audit-line>
              <form (ngSubmit)='this.onSubmit()' method='post'>
                <app-price-list-form [otherItems]='this.otherItems' [account]='this.account' [priceList]='this.priceList' [priceListItems]='this.items' [editMode]='true'></app-price-list-form>
                <div class="row mt-2">
                  <div class="col-lg-12 text-end">
                    <button type="submit" class="btn btn-success">Save</button>&nbsp;
                    <button type="button" class="btn btn-danger" routerLink='/price-list'>Cancel</button>
                 
                  </div>
                </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  