<div class='fullcontainer'>
  <div class="alert alert-danger" *ngIf='this.isError'>Please complete all required fields</div>
  <div class="alert alert-danger" *ngIf='this.isServerError'>Something went wrong. Please try again later.</div>
  <div class="alert alert-success" *ngIf='this.isSuccess'>Container was updated successfully</div>
  <div class='sheet'>
    <h1 class='header'>Edit Container - {{ this.container.name }}</h1>
    <app-audit-line [data]='this.container'></app-audit-line>
    <form (ngSubmit)='this.onSubmit()' method='post'>
      <app-container-form [container]='this.container' [containerGrades]='this.containerGrades'>></app-container-form>
      <button type="submit" class="btn btn-success">Save</button>&nbsp;
      <button type="button" class="btn btn-danger" routerLink='/containers'>Cancel</button>
    </form>
  </div>
</div>
