<div class="fullcontainer">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-8 my-auto">
              <div class='titleContainer'>
                <h3 class='header'>All Orders</h3>
              </div>
            </div>
            <div class="col-lg-4 text-end">
              <div>
                <button class='btn btn-secondary' routerLink='/orders/new/accounts'><i class="fas fa-plus"></i>
                  New</button>&nbsp;
                <button class='btn btn-secondary' (click)='simpleOrder()'><i class="fas fa-file-signature"></i>
                  Simplified order</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 form-group">
              <select (change)='changeVehicleType($event)' class='form-select'>
                <option value='-1'>All Vehicle Types</option>
                <option [selected]='this.orderTypeId === skill.orderTypeId' *ngFor='let skill of this.skills'
                  [value]='skill.orderTypeId'>All {{ skill.orderType.name }} Orders</option>
              </select>
            </div>
          </div>
          <hr>
          <div class='sheet' style='padding: 0.1rem;font-size: 0.65rem;'>
            <h3>Filters</h3>
            <div class='row'>
              <div class='col-md-4 form-group'>
                <label>Order ID</label>
                <input [(ngModel)]="this.searchFilters.orderId" class='form-control' type='text' />
              </div>
              <div class='col-md-4 form-group'>
                <label>Customer</label>
                <ng-select class="form-select" [(ngModel)]="this.searchFilters.customer"
                  (change)='this.searchFilters.customer = $event;'>
                  <ng-option *ngFor='let item of this.accounts' [value]='item.name'>{{ item.name }}</ng-option>
                </ng-select>
              </div>
              <div class='col-md-4 form-group'>
                <label>Tip Site</label>
                <ng-select class="form-select" [(ngModel)]="this.searchFilters.tipSite"
                  (change)='this.searchFilters.tipSite = $event;'>
                  <ng-option *ngFor='let item of this.tips' [value]='item.name'>{{ item.name }}</ng-option>
                </ng-select>
              </div>
              <div class='col-md-4 form-group'>
                <label>Date</label>
                <input [(ngModel)]="this.searchFilters.date" class='form-control' type='date' />
              </div>
              <div class='col-md-4 form-group'>
                <label>Po Number</label>
                <input [(ngModel)]="this.searchFilters.poNumber" class='form-control' type='text' />
              </div>
              <div class='col-md-4 form-group'>
                <label>Status</label>
                <ng-select class="form-select" [(ngModel)]="this.searchFilters.status"
                  (change)='this.searchFilters.status = +$event;'>
                  <ng-option *ngFor='let item of this.statuses' [value]='item.id'>{{ item.name }}</ng-option>
                </ng-select>
              </div>
              <div class='col-md-3 ms-auto mt-3 text-end'>
                <button class='btn btn-primary' type='button' (click)='search()'>Search</button>&nbsp;
                <button class='btn btn-danger' type='button' (click)='clear()'>Clear</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="ordertable">
      <app-grid entity='order' [filters]='this.filters' [columns]='this.columns' [buttons]='this.buttons'
        [searchFilters]='this.searchFiltersGrid' [searchFields]='this.searchFields'
        [relationships]='this.relationships'></app-grid>
    </div>
  </div>
</div>
  <!-- <div>
    <button class='btn blueHover' (click)='this.setOrderStatus("")' [class.btn-primary]='this.orderStatusCurrent === ""' [class.btn-secondary]='this.orderStatusCurrent !== ""'><i class="fas fa-truck-loading"></i> All Orders</button>&nbsp;
    <button class='btn purpleHover' (click)='this.setOrderStatus("Pending")'  [class.btn-info]='this.orderStatusCurrent === "Pending"' [class.btn-secondary]='this.orderStatusCurrent !== "Pending"'><i class="fas fa-question-circle"></i> Pending</button>&nbsp;
    <button class='btn greenHover' (click)='this.setOrderStatus("Accepted")'  [class.btn-success]='this.orderStatusCurrent === "Accepted"' [class.btn-secondary]='this.orderStatusCurrent !== "Accepted"'><i class="fas fa-check-circle"></i> Accepted</button>&nbsp;
    <button class='btn redHover' (click)='this.setOrderStatus("Declined")'  [class.btn-danger]='this.orderStatusCurrent === "Declined"' [class.btn-secondary]='this.orderStatusCurrent !== "Declined"'><i class="fas fa-times-circle"></i> Declined</button>&nbsp;
  </div> -->