<div class="fullcontainer">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <app-workshop-nav></app-workshop-nav>
        </div>
        <div class="card-body">
          <div class="p-3">
            <div class="row mt-0 content-block-head">
              <div class="col p-2">
                <div class="row px-3">
                  <h4>Part Categories</h4>
                </div>
              </div>
            </div>
        
            <div class="row content-block">
              <div class="col-12 mx-auto">
                <table class='table table-bordered table-hover'>
                  <thead class='table-dark'>
                    <tr>
                      <th>Category</th>
                      <th>Action</th>
                    </tr>
                  </thead>
        
                  <tbody>
                    <tr *ngFor='let cat of this.categories'>
                      <td colspan='2'>
                        {{cat.name}}
                      </td>
                    </tr>
                    <tr *ngIf='!this.disableButtons'>
                      <td colspan='2'>
                        <button class='btn btn-success btn-block' (click)='addNewRow()'>New Category</button>
                      </td>
                    </tr>
                    <tr *ngIf='this.disableButtons'>
                      <td>
                        <label>Category Name</label>
                        <input type='text' [(ngModel)]='this.newItem.name' class='form-control'/>
                      </td>
                      <td><button class='btn btn-success' (click)='save()'>Save</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
