<div class="fullcontainer" >
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-6 my-auto">
                <div class='titleContainer my-auto'>
                  <h3 class='header my-auto'>All Contacts</h3>
                 
                </div>
              </div>
              <div class="col-lg-6 text-end">
                <div>
                  <button class='btn btn-secondary' routerLink='/contacts/new'><i class="fas fa-plus"></i> New</button>&nbsp;
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <app-grid
            entity='contact'
            [filters]='this.filters'
            [columns]='this.columns'
            [buttons]='this.buttons'
            [searchFilters]='this.searchFilters'
            [searchFields]='this.searchFields'
            ></app-grid>
          </div>
        </div>
      </div>
    </div>

   
