<div class="fullcontainer">
  <div class="sheet">
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="card">
          <div class="card-header">
            <h3 class='header'>Cancel VOR</h3>
          </div>
          <div class="card-body">
            <p> <strong>  Are you sure you wish to cancel this VOR? This action cannot be undone </strong></p>
          </div>
          <div class="card-footer">
<div class="row">
  <div class="col-12 text-center">
    <button type="submit" class="btn btn-danger" (click)='this.onCancelClicked()'>Yes! I'm Sure!</button>&nbsp;
    <button type="button" class="btn btn-primary" routerLink='/vehicles/vor'>No! Take me back!</button>
  </div>
</div>
          </div>
        </div>
      </div>
    </div>
    

    

    
  </div>
</div>
