<!-- <div class="row">
  <div class="col">
    <app-tabs> -->
      <app-tab title="Assigned Parts">
        <div class="row">
          <div class="col-12">
            <div class="tbl-div">
            <div class="table-responsive">
            <table class='table table-bordered'>
              <thead class='table-dark'>
                <tr>
                  <th>#</th>
                  <th>Part</th>
                  <th>Model</th>
                  <th>Part No.</th>
                  <th>Value</th>
                  <th>Qty</th>
                  <th>Totals</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let row of this.parts'>
                  <td>{{row.id}}</td>
                  <td>{{row.part.name}}</td>
                  <td>{{row.part.model}}</td>
                  <td>{{row.part.manufacturerPartNumber}}</td>
                  <td>£{{row.part.value}}</td>
                  <td>{{row.qty}}</td>
                  <td>£{{row.qty * row.part.value}}</td>
                </tr>
                <tr>
                  <td colspan='6'></td>
                  <td>£{{this.total}}</td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
      </app-tab>
      <app-tab title="Add Parts" *ngIf='this.allowLink'>
        <div class="row">
          <div class="col">
            <div class="alert alert-success" *ngIf='this.showSuccess'>
              Parts have been saved.
            </div>

            <ng-container *ngIf='this.showDropdown'>
              <ng-multiselect-dropdown
              [settings]="dropdownSettings"
              class='form-control'
              [placeholder]="'Select Parts to Add'"
              [data]="this.partList"
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              [(ngModel)]="this.selectedParts">
            </ng-multiselect-dropdown>
            <hr>
            <button class='btn btn-success' (click)='populateList()' *ngIf='this.selectedParts.length > 0'>Add to List</button>
          </ng-container>
          <ng-container *ngIf='!this.showDropdown'>
            <table class='table table-bordered'>
              <thead class='thead-dark'>
                <tr>
                  <th>Part</th>
                  <th>Qty</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let row of this.addParts'>
                  <td>{{row.name}} (£{{row.value}}) - {{row.totalStock - row.addQty}} In Stock</td>
                  <td>
                    <input
                    class='form-control'
                    type='number'
                    [(ngModel)]='row.addQty'
                    [class.is-valid]='row.addQty > 0 && row.addQty <= row.totalStock'
                    [class.is-invalid]='row.addQty <= 0 || row.addQty > row.totalStock'
                    min='1'
                    max='row.totalStock'
                    />
                  </td>
                  <td>£{{row.addQty * row.value}}</td>
                </tr>
                <tr>
                  <td colspan='3'>
                    <button class='btn btn-success' (click)='updateParts()'>Save Parts</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          </div>
        </div>
    </app-tab>
  <!-- </app-tabs>

  </div> -->
<!-- </div> -->
