<div class='fullcontainer'>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1>Job Signoff</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-6">
                            <button class='btn btn-sm btn-secondary' routerLink='/job-signoff/land'>Transport Sign off</button>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <button class='btn btn-sm btn-secondary' routerLink='/job-signoff' *ngIf='!this.isYND()'>Skip Sign
                                off</button>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <button class='btn btn-sm btn-secondary' routerLink='/job-signoff/shredder'
                                *ngIf='!this.isYND()'>Shredding Sign off</button>
                        </div>
                        <div class="col-md-2 col-sm-6">

                            <button class='btn btn-sm btn-secondary' routerLink='/tip-ticket'>Tip Ticket Sign off</button>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <button class='btn btn-sm btn-secondary' routerLink='/yard-trade-signoff'
                                *ngIf='!this.isYND()'>Yard Trade Sign off</button>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <button class='btn btn-sm btn-secondary' routerLink='/job-signoff/material-uplift'>Material Uplift
                                Sign off</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <button class='btn btn-secondary' routerLink='/job-signoff/artic'>Artic Sign off</button> -->


</div>