.datePicker {
  display: inline-block;
  position: absolute;
  left: 42rem;
  top: 7rem;
}

// .timelineToolbarContainer {
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: space-between;
//   width: 77%;
//   position: fixed;
// }



.dateSelectorContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: end;

  button {
    background: transparent;
    border: 0;
    box-shadow: none;
  }

  i {
    font-size: 1.5rem;
    color: var(--primary);

    &:hover {
      color: #2196f3;
      cursor: pointer;
    }
  }

  .dateSelectorBox {
    // background-color: transparent;
    // padding: 0.3rem;
    // width: 20rem;
    // font-size: 1.2rem;
    // text-align: center;
    // margin-top: 0.7rem;
    // color: #34495e;
    // font-weight: bold;
    background-color: transparent;
    padding: 0.1rem;
    /* width: 20rem; */
    font-size: 1rem;
    text-align: center;
    margin-top: 0.2rem;
    color: var(--primary);
    font-weight: bold;


    &:hover {
      color: #2196f3;
      cursor: pointer;
    }
  }
}


.vehicleTypeSelector {
  width: 11rem;
}