<div class="fullcontainer">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6 my-auto">
              <div class='titleContainer'>
                <h3 class='header'>All Driver Absence</h3>
              </div>
            </div>
            <div class="col-lg-6 my-auto text-end">
              <div>
                <button class='btn btn-secondary' routerLink='/drivers/absence/new'><i class="fas fa-plus"></i>
                  New</button>&nbsp;
                <button class='btn btn-secondary' routerLink='/drivers'><i class="fas fa-arrow-left"></i> Back</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="CreditNotes">
          <app-grid entity='driver-absence' [filters]='this.filters' [columns]='this.columns' [buttons]='this.buttons'
            [searchFilters]='this.searchFilters' [searchFields]='this.searchFields'></app-grid>
        </div>
      </div>
      </div>
    </div>
  </div>
  </div>