<div class='fullcontainer'>
    <div class="alert alert-danger" *ngIf='this.isError'>Please complete all required fields</div>
    <div class="alert alert-danger" *ngIf='this.isServerError'>Something went wrong. Please try again later.</div>
    <div class="alert alert-success" *ngIf='this.isSuccess'>Contract was updated successfully</div>
    <div class='sheet'>
      <h1 class='header'>Edit Contract - {{ this.contract.name }}</h1>
      <app-audit-line [data]='this.contract'></app-audit-line>
      <form (ngSubmit)='this.onSubmit()' method='post'>
        <app-contract-form [contractProducts]='this.contractProducts' [customer]='this.customer' [contract]='this.contract'></app-contract-form>
        <button type="submit" class="btn btn-success">Save</button>&nbsp;
        <button type="button" class="btn btn-danger" routerLink='/contracts'>Cancel</button>
      </form>
    </div>
  </div>
