.jw-modal-body {
    padding: 20px;
    background: #fff;
    margin: auto;
    width: 50% !important;
     max-height: 95vh !important; 
    overflow: auto;
    box-shadow: 0px 0px 4px 3px #e8e8e87a;
    box-shadow: var(--box-shadow-1);
    border-radius: 10px;
}