<!-- comment by shujat -->
<app-tipping-price-create-modal [grades]='this.grades' [units]='this.units'></app-tipping-price-create-modal>
<app-tabs class="tab-box">
  <app-tab title='Main details' >
    <div class='alert alert-primary'
      *ngIf='(this.account.type.id === 3 || this.account.type_id === 16) && this.account.id === -1'>
      Please create the customer first and then edit to add sites.
    </div>
    <div class='alert alert-danger' *ngIf='!this.account.isactive'>
      This account has been Deactivated. You can re-enable it in the Account Activation tab.
    </div>

    <div class='alert alert-danger' *ngIf='this.isStandaloneSite && this.account.id === -1'>
      Warning! This will create a site unlinked to any account.
    </div>
    <div class="row">
      <div class="col-lg-4 form-group">
        <div *ngIf='this.account.id === -1 && !this.isStandaloneSite'>
         
          <input type='checkbox' [(ngModel)]='this.sameSite.sameSite' [ngModelOptions]="{standalone: true}" />
          &nbsp;  <label>Automatically create site?</label>
          <!-- <label>Automatically create tip?</label>
        <input type='checkbox' [(ngModel)]='this.sameTip.sameTip'
        [ngModelOptions]="{standalone: true}"
        /> -->
        </div>
      </div>
    </div>


    <ng-container
      *ngIf='(this.account.type_id === 3 || this.account.type_id === 16) && this.account.id !== -1 && this.account.id'>
      <button class='btn btn-secondary' (click)='createOrder()'>+ Create Order</button>
    </ng-container>

   
      <div class="row">
        <div class="form-group col-md-8">
          <label for="accountName">Name</label>
          <div class="row">
            <div class="col-lg-6">
              <input type="text" name='name' [(ngModel)]='this.account.name' 
            class="form-control" id="accountName"
            oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">
            </div>
            <div class="col-lg-6 text-center">
              <app-companies-house-search  (companySelected)='onCompanySelected($event)'
            [companyName]='this.account.name'></app-companies-house-search>
            </div>
          </div>
        </div>

        <div class="form-group col-md-4"
          *ngIf='this.account.type_id !== 13 && this.account.type_id === -1 && !this.isSimpleOrder'>
          <label for="accountType">Account Type</label>
          <select class='form-select' 
            (change)='this.account.type_id = +$event.target.value; this.account.type = {}; this.account.type.id = this.account.type_id;setRefForProspect();checkIfSite($event);'>
            <option value='-1'>Select an account type</option>
            <option *ngFor='let item of this.types' [value]='item.id' [selected]='this.account.type_id === item.id'>{{
              item.name }}</option>
          </select>
        </div>
        <div class="form-group col-md-4" *ngIf='this.account.type_id === 13'>
          <label for="accountType">Account Type</label>
          <select class='form-select' [class.is-invalid]='this.account.type_id === -1'
            (change)='this.account.type_id = +$event.target.value; this.account.type = {}; this.account.type.id = this.account.type_id'>
            <option value='13' [selected]='this.account.type_id === 13'>Site</option>
            <!-- <option value='15' [selected]='this.account.type_id === 15'>Tip</option> -->
          </select>
        </div>
        <div class="form-group col-md-4" *ngIf='this.isSimpleOrder && this.account.type_id !== 13'>
          <label for="accountType">Account Type</label>
          <select class='form-select' [class.is-invalid]='this.account.type_id === -1'
            (change)='this.account.type_id = +$event.target.value; this.account.type = {}; this.account.type.id = this.account.type_id'>
            <option value='-1'>Select an account type</option>
            <option value='3' [selected]='this.account.type_id === 3'>Customer</option>
            <option value='16' [selected]='this.account.type_id === 16'>Non Credit Account</option>
            <!-- <option value='15' [selected]='this.account.type_id === 15'>Tip</option> -->
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="accountRef">Account Ref</label>
          <input  type="text" name='name' [(ngModel)]='this.account.accountRef'
            [class.is-invalid]='!this.account.accountRef && (this.account.type_id === 13 || this.account.type_id === 3)'
            class="form-control" id="accountRef">
        </div>
        <div class="form-group col-md-4" *ngIf='this.account.type_id === 13'>
          <label for="sepaId">SEPA Area</label>
          <ng-select class="form-select" [(ngModel)]="this.account.sepaId"
            (change)='this.account.sepaId = +$event; this.account.sepa = {}; this.account.sepa.id = this.account.sepaId'>
            <ng-option *ngFor='let item of this.sepaCodes' [value]='item.id'>({{item.code}}) {{ item.name }}</ng-option>
          </ng-select>
        </div>
        <div class="form-group col-md-4">
          <label for="contact">Contact</label>
          <input class="form-control" type="text" name='name' [(ngModel)]='this.account.contact' class="form-control" id="contact">
        </div>
        <div class="form-group col-md-4">
          <label for="email">Email</label>
          <input class="form-control" type="email" name='name' [(ngModel)]='this.account.email' class="form-control" id="email">
        </div>
        <div class="form-group col-md-4">
          <label for="website">Website</label>
          <input class="form-control"  type="text" name='name' [(ngModel)]='this.account.website' class="form-control" id="website">
        </div>
        <div class="form-group col-md-4">
          <label for="phoneNumber">Phone Number</label>
          <input class="form-control" type="text" name='name' [(ngModel)]='this.account.phoneNumber' class="form-control" id="phoneNumber">
        </div>
        <div class="form-group col-md-4 form-check"
          *ngIf='this.account.type_id === 13 || this.account.type_id === 14 || this.account.type_id === 15'> 
          <input class="form-check-input" type="checkbox" [(ngModel)]='this.account.isOwn' id="isOwn"> &nbsp;
          <label class="form-check-label" for="isOwn">
            Is this a {{this.companyName}} Site?
          </label>
        </div>
        <div class="form-group col-md-4">
          <label for="inputEmail4">SIC Code</label>
          <ng-select class="form-select" [(ngModel)]="this.account.sicId" (change)='this.account.sicId = +$event'>
            <ng-option [value]='item.id' *ngFor='let item of this.sic'>{{ item.code }} - {{ item.name }}</ng-option>
          </ng-select>
        </div>

        <div class="form-group col-md-4" *ngIf='this.account.type_id === 3 || this.account.type_id === 8'>
          <label for="inputEmail4">Industry (optional)</label>
          <select class='form-select'
            (change)='this.account.industryId = +$event.target.value; this.account.industry = {id: this.account.industryId}'>
            <option value='-1'>Select an industry</option>
            <option [selected]='this.account.industryId === item.id' [value]='item.id'
              *ngFor='let item of this.allIndustry'>{{ item.name }}</option>
          </select>
        </div>
        <div class="form-group col-md-4" *ngIf='this.account.type_id === 3 || this.account.type_id === 8'>
          <label for="inputEmail4">Account Rating</label>
          <select class='form-select' (change)='updateRating($event)'>
            <option value='-1'>Select an Account Rating</option>
            <option [selected]='this.account.rating_id === item.id' [value]='item.id' *ngFor='let item of this.ratings'>
              {{ item.name }}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputEmail4">Account Source</label>
          <input type='text' class='form-control' [(ngModel)]='this.account.source' />
        </div>
        <div class="form-group col-md-4">
          <label for="inputEmail4">Annual Revenue</label>
          <input type='number' class='form-control' [(ngModel)]='this.account.annualRevenue'
            [class.is-invalid]='this.account.annualRevenue < 0' />
        </div>
        <div class="form-group col-md-4">
          <label for="inputEmail4">Notes</label>
          <textarea rows="1" [(ngModel)]='this.account.notes' class='form-control'></textarea>
        </div>


      </div>
      <div class='row'>
        <div class='form-group col-lg-4'>
          <input type='checkbox' [(ngModel)]="this.account.isTip" [ngModelOptions]="{standalone: true}" />
         &nbsp; <label>is Tip?</label>
        </div>
        <div class='form-group col-lg-4'> 
          <input type='checkbox' [(ngModel)]="this.account.isDepot" [ngModelOptions]="{standalone: true}" />
          &nbsp;  <label>is Depot?</label>
        </div>
      </div> 
   
  </app-tab>
  <app-tab title='Addresses'>
    <app-tabs>
      <app-tab title='Billing Details'>
        <div class="row">
        <div class="form-group col-md-3">
          <label for="billing1">Address Line 1</label>
          <input type="text" name='name' [(ngModel)]='this.account.billingAddress1' class="form-control" id="billing1">
        </div>
        <div class="form-group col-md-3">
          <label for="billing2">Address Line 2</label>
          <input type="text" name='name' [(ngModel)]='this.account.billingAddress2' class="form-control" id="billing2">
        </div>
        <div class="form-group col-md-3">
          <label for="billing3">City</label>
          <input type="text" name='name' [(ngModel)]='this.account.billingCity' class="form-control" id="billing3">
        </div>
        <div class="form-group col-md-3">
          <label for="billing4">Country</label>
          <input type="text" name='name' [(ngModel)]='this.account.billingCountry' class="form-control" id="billing4">
        </div>
        <div class="form-group col-md-6">
          <label for="billing5">Postcode</label>
          <div class="row">
            <div class="col-lg-6"> 
              <input type="text" name='name' [(ngModel)]='this.account.billingPostCode' class="form-control" id="billing5">
            </div>
            <div class="col-lg-6">
              <app-address-picker [postcode]='this.account.billingPostCode'
            (onAddressFound)='this.foundBillingAddress($event)'></app-address-picker>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-auto text-end ms-auto">
          <button class='btn btn-sm btn-block btn-secondary' (click)='transferAddress()'>Transfer Address Details to
            Shipping</button>
        </div>
      </div>
      </app-tab>
      <app-tab title='Shipping Details'>
        <div class="row">
        <div class="form-group col-md-4">
          <label for="ship1">Address Line 1</label>
          <input type="text" name='name' [(ngModel)]='this.account.shippingAddress1' class="form-control" id="ship1">
        </div>
        <div class="form-group col-md-4">
          <label for="ship2">Address Line 2</label>
          <input type="text" name='name' [(ngModel)]='this.account.shippingAddress2' class="form-control" id="ship2">
        </div>
        <div class="form-group col-md-4">
          <label for="ship3">City</label>
          <input type="text" name='name' [(ngModel)]='this.account.shippingCity' class="form-control" id="ship3">
        </div>
        <div class="form-group col-md-4">
          <label for="ship4">Country</label>
          <input type="text" name='name' [(ngModel)]='this.account.shippingCountry' class="form-control" id="ship4">
        </div>
        <div class="form-group col-md-8">
          <label for="ship5">Postcode</label>
          <div class="row">
            <div class="col-lg-6"> <input type="text" name='name' [(ngModel)]='this.account.shippingPostCode' class="form-control" id="ship5"> </div>
            <div class="col-lg-6">
              <app-address-picker [postcode]='this.account.shippingPostCode'
              (onAddressFound)='this.foundShippingAddress($event)'></app-address-picker>
   
            </div>
          </div>
          
       </div>
      </div>
      </app-tab>
    </app-tabs>
  </app-tab>
  <app-tab title='Account Info'>
    <app-tabs>
      <app-tab title='Additional Details'
        *ngIf='(this.account.type_id === 3 || this.account.type_id === 16) && this.account.id !== -1'>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="invoiceperiod">Invoice Period</label>
            <select class='form-control' (change)='this.customerDetails.invoicePeriodId = +$event.target.value'>
              <option value='-1'>Select an invoice period</option>
              <option value='1' [selected]='this.customerDetails.invoicePeriodId === 1'>Weekly</option>
              <option value='2' [selected]='this.customerDetails.invoicePeriodId === 2'>2 Weekly</option>
              <option value='3' [selected]='this.customerDetails.invoicePeriodId === 3'>Monthly</option>
              <option value='4' [selected]='this.customerDetails.invoicePeriodId === 4'>Quarterly</option>
              <option value='5' [selected]='this.customerDetails.invoicePeriodId === 5'>Yearly</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="invoiceMethod">Invoice Method</label>
            <select class='form-control' (change)='this.customerDetails.invoiceMethodId = +$event.target.value;'>
              <option value='-1'>Select an invoice method</option>
              <option value='1' [selected]='this.customerDetails.invoiceMethodId === 1'>Email</option>
              <option value='2' [selected]='this.customerDetails.invoiceMethodId === 2'>Post</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="invoiceSplitByPO">Split Invoices By PO</label>
            <input type="checkbox" name='name' [ngModelOptions]="{standalone: true}"
              [(ngModel)]='this.customerDetails.invoiceSplitByPO' id="invoiceSplitByPO">
          </div>
          <div class="form-group col-md-4">
            <label for="invoiceSplitBySite">Split Invoices By Site</label>
            <input type="checkbox" name='name' [ngModelOptions]="{standalone: true}"
              [(ngModel)]='this.customerDetails.invoiceSplitBySite' id="invoiceSplitBySite">
          </div>
          <div class="form-group col-md-4">
            <label for="invoiceSplitByOrderType">Split Invoices By Order Type</label>
            <input type="checkbox" name='name' [ngModelOptions]="{standalone: true}"
              [(ngModel)]='this.customerDetails.invoiceSplitByOrderType' id="invoiceSplitByOrderType">
          </div>
          <div class="form-group col-md-4">
            <label for="customerCat">Customer Category</label>
            <select class='form-control'
              (change)='this.customerDetails.customerCategoryId = +$event.target.value; this.customerDetails.customerCategory = {}; this.customerDetails.customerCategory.id = this.customerDetails.customerCategoryId'>
              <option value='-1'>Select an customer category</option>
              <option *ngFor="let item of this.categories" [value]='1'
                [selected]='this.customerDetails.customerCategoryId === item.id'>{{ item.name }}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="ship4">Licence Number</label>
            <input type="text" name='name' [(ngModel)]='this.customerDetails.licenceNumber' class="form-control"
              id="ship4">
          </div>
          <div class="form-group col-md-4">
            <label for="ship4">Carrier Licence Number</label>
            <input type="text" name='name' [(ngModel)]='this.customerDetails.carrierLicenceNumber' class="form-control"
              id="ship4">
          </div>
          <div class="form-group col-md-4">
            <label for="ship4">Carrier Licence Expiry</label>
            <input type="date" name='name' [(ngModel)]='this.customerDetails.carrierLicenceExpiryDate'
              class="form-control" id="ship4">
          </div>
          <div class="form-group col-md-4">
            <label for="ship4">Waste carrier</label>
            <input type="text" name='name' [(ngModel)]='this.customerDetails.wasteCarrier' class="form-control"
              id="ship4">
          </div>
        </div>
      </app-tab>
      <app-tab title='Credit limit' *ngIf='(this.account.type_id === 3 && this.account.id !== -1)'>
        <div class="row">
          <label>Credit Limit enabled</label>
          <input type="checkbox" name='name' [ngModelOptions]="{standalone: true}"
            [(ngModel)]='this.account.limitEnabled' id="invoiceSplitByOrderType">

          <ng-container *ngIf='this.account.limitEnabled'>
            <div class='form-group col-md-4'>
              <label>Credit Limit</label>
              <input type='text' class='form-control' [(ngModel)]="this.creditLimit.maxCredit" />
            </div>
          </ng-container>
        </div>
      </app-tab>
      <app-tab title='Account Incumbents' *ngIf='this.account.id > 0 '>
        <div class="row">
          <div class="form-group col-md-4">
            <label>Add an Incumbent</label>
            <select class='form-select' (change)='addIncumbent($event)'>
              <option value='-1' [selected]='this.currentIncumbent === -1'>Select an Incumbent</option>
              <option [value]='item.id' [selected]='this.currentIncumbent === item.id'
                *ngFor='let item of this.incumbentList'>{{ item.name }}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="">Notes</label>
            <input class='form-control' [(ngModel)]='this.newIncumbent.notes' type='text' />
          </div>
          <div class="form-group col-md-4 mt-auto">
            <button class='btn btn-sm btn-block btn-secondary' (click)='saveIncumbent();$event.preventDefault();'>Add
              incumbent</button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <table class='table table-bordered' *ngIf='this.accountIncumbents.length > 0'>
              <thead class='thead-dark'>
                <tr>
                  <th>Name</th>
                  <th>Notes</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let item of this.accountIncumbents'>
                  <td>{{item.incumbent.name}}</td>
                  <td>{{item.notes}}</td>
                  <td>
                    <button class='btn btn-danger'
                      (click)='deleteIncumbent(item.id);$event.preventDefault();'>Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </app-tab>
      <app-tab title='Account Activation'>
        <div class="form-group col-md-4 custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]='this.account.isactive'>
          <label *ngIf='this.account.isactive' class="custom-control-label" for="customSwitch1">Account Active</label>
          <label *ngIf='!this.account.isactive' class="custom-control-label" for="customSwitch1">Account
            Deactivated</label>
        </div>
      </app-tab>
      <!-- if tip and already saved show additional details -->
      <app-tab title='Additional Details' *ngIf='this.account.type_id === 15 && this.account.id !== -1'>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="licenceNumber">Licence Number</label>
            <input type="text" name='name' [(ngModel)]='this.tipDetails.licenceNumber' class="form-control"
              id="licenceNumber">
          </div>
          <div class="form-group col-md-4">
            <label for="carrierLicenceNumber">Carrier Licence Number</label>
            <input type="text" name='name' [(ngModel)]='this.tipDetails.carrierLicenceNumber' class="form-control"
              id="carrierLicenceNumber">
          </div>
          <div class="form-group col-md-4">
            <label for="carrierLicenceExpiryDate">Carrier Licence Expiry date</label>
            <input type="date" name='name' [(ngModel)]='this.tipDetails.carrierLicenceExpiryDate' class="form-control"
              id="carrierLicenceExpiryDate">
          </div>
        </div>
      </app-tab>

      <!-- if tip and already saved show additional details -->
      <app-tab title='Additional Details' *ngIf='this.account.type_id === 14 && this.account.id !== -1'>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="licenceNumber">Site Licence Number</label>
            <input type="text" name='name' [(ngModel)]='this.depotDetails.licenceNumber' class="form-control"
              id="licenceNumber">
          </div>
          <div class="form-group col-md-4">
            <label for="carrierLicenceNumber">Carrier Licence Number</label>
            <input type="text" name='name' [(ngModel)]='this.depotDetails.carrierLicenceNumber' class="form-control"
              id="carrierLicenceNumber">
          </div>
          <div class="form-group col-md-4">
            <label for="carrierLicenceExpiryDate">Carrier Licence Expiry date</label>
            <input type="date" name='name' [(ngModel)]='this.depotDetails.carrierLicenceExpiryDate' class="form-control"
              id="carrierLicenceExpiryDate">
          </div>
        </div>
      </app-tab>
    </app-tabs>
  </app-tab>
  <!-- If a tip is already created let them create prices -->
  <app-tab title='Prices' *ngIf='this.account.type_id === 15 && this.account.id !== -1'>
    <button type='button' class='btn btn-secondary' (click)='this.openModal("tippingPriceCreateModal")'>Add
      price</button>
    <br />
    <br />


    <table class="table" *ngIf='this.tippingPrices.tippingPrices.length > 0'>
      <thead>
        <th>Grade</th>
        <th>Unit</th>
        <th>Price(&pound;)</th>
        <th>Effective Date</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor='let item of this.tippingPrices.tippingPrices; let i = index'>
          <td>
            <select class='form-control' (change)='item.gradeId = +$event.target.value; item.grade.id = item.gradeId'>
              <option *ngFor='let grade of this.grades' [value]='grade.id' [selected]='grade.id === item.gradeId'>{{
                grade.name }} <ng-container *ngIf='grade.ewcCodes && grade.ewcCodes !== ""'>({{ grade.ewcCodes
                  }})</ng-container></option>
            </select>
          </td>
          <td>
            <select class='form-control' (change)='item.unitId = +$event.target.value; item.unit.id = item.unitId'>
              <option *ngFor='let unit of this.units' [selected]='item.unitId === unit.id' [value]='unit.id'>{{
                unit.name }}(s)</option>
            </select>
          </td>
          <td>
            <input type='text' class='form-control' [(ngModel)]='item.price' />
          </td>
          <td>
            <input type='date' class='form-control' [(ngModel)]="item.effectiveDate" />
          </td>
          <td>
            <button class='btn btn-danger' type="button" (click)='this.onDeletePriceClick(i)'><i
                class="fas fa-trash"></i></button>

          </td>
        </tr>
      </tbody>

    </table>
  </app-tab>
  <ng-container
  *ngIf='(this.account.type_id === 3 || this.account.type_id === 16) && this.account.id !== -1 && this.account.id'>
  <app-tab title='Sites'>
    <button class='btn btn-secondary' routerLink='/accounts/site/{{ this.account.id }}'><i class="fas fa-plus"></i>
      New</button>&nbsp;
    <br />
    <br />
    <app-sites-section [account]='this.account'></app-sites-section>
  </app-tab>
</ng-container>

<app-tab title='Links' *ngIf='this.account.type_id === 3 || this.account.type_id === 16'>
  <app-tabs>
    <app-tab title='Contacts'>
      <app-contact-section [account]='this.account'></app-contact-section>
    </app-tab>
    <app-tab title='Leads' *ngIf='this.environment.crmOptions.showLeads'>
      <app-lead-section [account]='this.account'></app-lead-section>
    </app-tab>
    <app-tab title='Opportunities'>
      <app-opportunity-section [account]='this.account'></app-opportunity-section>
    </app-tab>
    <app-tab title='Contracts'>
      <app-contract-section [account]='this.account'></app-contract-section>
    </app-tab>
    <!-- <<app-tab title='Quotes'>
      <app-quote-section [account]='this.account'></app-quote-section>
    </app-tab>
    <app-tab title='Price Lists'>
      <app-price-list-section [account]='this.account'></app-price-list-section>
    </app-tab> -->
    <!-- <app-tab title='Orders'>
      <app-order-section [account]='this.account'></app-order-section>
    </app-tab> -->
    <!-- <app-tab title='Invoices'></app-tab> -->
  </app-tabs>
</app-tab>
<app-tab title='Discussion' *ngIf='this.account.id !== -1 && this.account.id'>
  <app-discussion [data]='this.account' entity='account'></app-discussion>
</app-tab>
           <!-- modal comment by shujat -->
<!-- <app-tab title='Correspondence' *ngIf='this.account.id !== -1 && this.account.id'>
  <app-correspondence-grid [data]='this.account' entity='account'></app-correspondence-grid>
</app-tab> -->


  </app-tabs>