<div class="fullcontainer ml-5">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <app-workshop-nav></app-workshop-nav>
        </div>
        <div class="card-body">
          <div class="py-3">
            <div class="row  content-block-head">
              <div class="col-12">
                <div class="row ">
                  <h4>Asset Register Categories</h4>
                </div>
              </div>
            </div>
        
            <div class="row content-block">
              <div class="col-12">
                <table class='table table-bordered table-hover' >
                  <thead class='table-dark'>
                    <tr>
                      <th>Category</th>
                      <th>Type</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let cat of this.categories'>
                      <ng-container *ngIf='cat.addToggle'>
                        <td>
                          <label>Category Name</label>
                          <input type='text' [(ngModel)]='cat.name' class='form-control'/>
                        </td>
                        <td>
                          <label>Category Type</label>
                          <input type='text' [(ngModel)]='cat.entity' class='form-control'/>
                        </td>
                        <td>
                          <button class='btn btn-block btn-success' (click)='saveRow()'>Save</button>
                        </td>
                      </ng-container>
                      <ng-container *ngIf='!cat.addToggle'>
                        <td>{{cat.name}}</td>
                        <td colspan='2'>{{cat.entity}}</td>
                        <!-- <td class='p-0 text-center'>
                          <button
                            *ngIf='!this.disableButtons'
                            class='btn btn-warning m-0 btn-block'
                            (click)='this.editCategory(cat.id)'>
                            <i class="far fa-edit"></i>
                          </button>
                          <button
                            *ngIf='this.disableButtons'
                            class='btn btn-warning m-0 btn-block disabled'>
                            <i class="far fa-edit"></i>
                          </button>
                        </td> -->
                      </ng-container>
                    </tr>
                    <tr>
                      <td colspan='3'>
                        <button *ngIf='!disableButtons' class='btn btn-success btn-block'(click)='addRow()'>
                          <i class="far fa-plus-square"></i>
                        </button>
                        <button *ngIf='disableButtons' class='btn btn-secondary btn-block' disabled>
                          <i class="far fa-plus-square"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 
</div>
