<div class="fullcontainer">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6 my-auto">
              <div class='titleContainer my-auto'>
                <h3 class='header my-auto'>All Containers</h3>
              </div>
            </div>
            <div class="col-lg-3 text-end my-auto ms-auto">
              <div>
                <button class='btn btn-secondary' routerLink='/containers/new'><i class="fas fa-plus"></i>
                  New</button>&nbsp;
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <app-grid entity='container' [filters]='this.filters' [columns]='this.columns' [buttons]='this.buttons'
          [searchFilters]='this.searchFilters' [searchFields]='this.searchFields'></app-grid>
        </div>
      </div>
    </div>
  </div>
