.header {
  text-align: center;
  margin-top: 2rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #2ecc71;
}

.graph-block {
  background: RGBA(255,255,255,0.7);
  min-height:300px;
}
.graph-block-small {
  background: RGBA(255,255,255,0.7);
}

h5 {
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom:0;
}

hr{
  margin-top:0;
}
