<div class="fullcontainer">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6 my-auto">
              <div class='titleContainer'>
                <h3 class='header'>Select a Company</h3>
              </div>
            </div>
            <div class="col-lg-6 my-auto text-end">
              <div>
                <button class='btn btn-sm btn-secondary' routerLink='/orders'><i class="fas fa-arrow-left"></i> Back</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <app-grid entity='account' [filters]='this.filters' [columns]='this.columns' [buttons]='this.buttons'
            [searchFilters]='this.searchFilters' [searchFields]='this.searchFields'></app-grid>
        </div>
      </div>
    </div>
  </div>