<div class="fullcontainer" >
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6 my-auto">
              <div class='titleContainer my-auto'>
                <h3 class='header my-auto' >All Vehicle VORs</h3>
              </div>
            </div>
            <div class="col-lg-3 text-end ms-auto">
              <div>
                <button class='btn btn-secondary' routerLink='/vehicles/vor/new'><i class="fas fa-plus"></i> New</button>&nbsp;
                <button class='btn btn-secondary' routerLink='/vehicles'><i class="fas fa-arrow-left"></i> Back</button>&nbsp;
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <app-grid
          entity='vehicle-vor'
          [filters]='this.filters'
          [columns]='this.columns'
          [buttons]='this.buttons'
          [searchFilters]='this.searchFilters'
          [searchFields]='this.searchFields'
          ></app-grid>
          
        </div>
      </div>
    </div>
  </div>
  
  