#setWeightModal .overlay {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }
  
  #setWeightModal .modal {
    position: relative;
    width: 300px;
    z-index: 9999;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
  }
  
  #setWeightModal .close{
    position: absolute;
    top: 10px;
    right: 10px;
  }