 td .btn-sm{
    width: 140px !important;
}   
.datePicker {
    display: inline-block;
    position: absolute;
    z-index: 200 !important;
    top: 7rem !important;
    background-color: #f3f6f9 !important;
}