<div class="fullcontainer">
  <div class="alert alert-danger" *ngIf='this.isError'>Please complete all required fields</div>
  <div class="alert alert-danger" *ngIf='this.isServerError'>Something went wrong. Please try again later.</div>
  <div class='sheet'>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-6 my-auto">
                <div class='titleContainer'>
                  <h3 class='header'>Create a new fuel price</h3>
                </div>
              </div>
            
            </div>
          </div>
          <div class="card-body">
             
            <form (ngSubmit)='this.onSubmit()' method='post'>
              <app-fuel-price-form [fuelPrice]='this.fuelPrice'></app-fuel-price-form>
              <div class="row mt-3">
                <div class="col-12 text-end">
                  <button type="submit" class="btn btn-success">Save</button>&nbsp;
              <button type="button" class="btn btn-danger" routerLink='/fuel/prices'>Cancel</button>
                </div>
              </div>
              
            </form></div>
        </div>
      </div>
    </div>
   
    
  </div>
</div>
