.blueHover:hover {
    background: #2196f3 linear-gradient(180deg, #42a6f5, #2196f3) repeat-x;
    color: white;
  }
  
  .purpleHover:hover {
    background: #9c27b0 linear-gradient(180deg, #ab47bc, #9c27b0) repeat-x;
    color: white;
  }
  
  .greenHover:hover {
    background: #4caf50 linear-gradient(180deg, #67bb6a, #4caf50) repeat-x;
    color: white;
  }
  
  .redHover:hover {
    background: #e51c23 linear-gradient(180deg, #e93e44, #e51c23) repeat-x;
    color: white;
  }
  